/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */



/*BASE STYLE*/


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.wrapper {
  width: 90%;
}

img {
	width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

h6 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h6,
p {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;   
}

h5 {
  font-size: 1.25rem;
}

i {
  font-size: 1rem;
}

h6,
p {
  font-size: 0.875rem;  
}


/*HEADER*/


@keyframes onload {
 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes onload {
  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes onload {
  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  align-items: flex-start;
  animation: onload 1s ease-out 1;
  -webkit-animation: onload 1s ease-out 1;
  -moz-animation: onload 1s ease-out 1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 100;
}

#logo {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 20px;
  width: 150px;
}

header .main-nav {
  width: 30%;
}

header .main-nav ul {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; 
}

@keyframes navScroll {
	
  0% {
    opacity: 0;
		transform: translateX(100%);
	}
	100% {
    opacity: 1;
		transform: translateX(0);
	}
}

@-webkit-keyframes navScroll {
  
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes navScroll {
  
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

.navScroll {
  align-items: center;
  animation: navScroll 1s ease-out 1;
  -webkit-animation: navScroll 1s ease-out 1;
  -moz-animation: navScroll 1s ease-out 1;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: space-around !important;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

header .main-nav ul .main-li {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  right: -300px;
  text-align: center; 
}

@keyframes slide {
  
  0% {
    opacity: 0;
    right: -300px
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes slide {
  
  0% {
    opacity: 0;
    right: -300px
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-moz-keyframes slide {

  0% {
    opacity: 0;
    right: -300px
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

header .main-nav ul .slide {
  animation: slide 1s ease-out 1;
  -webkit-animation: slide 1s ease-out 1;
  -moz-animation: slide 1s ease-out 1;
  right: 0;
}

.headerScroll {
  background-color: #F5F5F5;
  height: 50px;
  opacity: 1;
  overflow: visible;
  position: fixed;
  top: 0;
  transition: 500ms 300ms ease-in;
  -webkit-transition: 500ms 300ms ease-in;
  -moz-transition: 500ms 300ms ease-in;
  width: 100%;
  z-index: 1001;
}

@keyframes logoShrink {
  
  0% {
    opacity: 0;
    padding: 0;
    transform: scale(1);
  }
  
  100% {
    opacity: 1;
    padding: 0;
    transform: scale(0.8);
  }
}

@-webkit-keyframes logoShrink {
  
  0% {
    opacity: 0;
    padding: 0;
    -webkit-transform: scale(1);
  }
  
  100% {
    opacity: 1;
    padding: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes logoShrink {
  
  0% {
    opacity: 0;
    padding: 0;
    -moz-transform: scale(1);
  }
  
  100% {
    opacity: 1;
    padding: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes logoGrow {
  
  0% {
    transform: scale(0.8);
  }
  
  100% {
    transform: scale(1);
  }
} 

@-webkit-keyframes logoGrow {
  
  0% {
    -webkit-transform: scale(0.8);
  }
  
  100% {
    -webkit-transform: scale(1);
  }
} 

@-moz-keyframes logoGrow {
  
  0% {
    -moz-transform: scale(0.8);
  }
  
  100% {
    -moz-transform: scale(1);
  }
} 

.logoShrink {
  animation: logoShrink 500ms ease-in 1 forwards;
  -webkit-animation: logoShrink 500ms ease-in 1 forwards;
  -moz-animation: logoShrink 500ms ease-in 1 forwards;
}

.logoGrow {
  animation: logoGrow 500ms ease-in 1 forwards;
  -webkit-animation: logoGrow 500ms ease-in 1 forwards;
  -moz-animation: logoGrow 500ms ease-in 1 forwards;
}

.searchScroll {
  transform: translateX(150px) translateY(-40%);
  -webkit-transform: translateX(150px) translateY(-40%);
  -moz-transform: translateX(150px) translateY(-40%);
}

.searchTop {
  transform: translateX(0) translateY(0);
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
}

#discover {
  padding: 5px 10px;
  width: 90%;
}

.sec-nav {
  width: 60%;
}

header ul li a {
  color: rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
}

i {
  color: rgb(0,0,0);
}

#search-box {
  align-items: center;
  display: flex;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 20px;
}

#search {
  text-decoration: none;
}

#search-input {
  display: none;
  margin-left: 10px;
  width: 0;
}

#date {
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 20px;
  width: 80%;
 }


/*HERO AREA*/


.hero-area {
  align-items: center;
  background-image: url('../img/woman.png');
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-flow: column;
  height: 680px;
  justify-content: space-between;
  width: 100%;
}

.hero-area h3 {
  margin: 0;
  padding-bottom: 10px;
}

.hero-area h1 {
  padding-bottom: 300px;
}

.hero-area .hero-article {
  background: rgba(0,0,0,0.6);
  color: rgb(255,255,255);
  margin: 0 auto;
  padding: 10px;
  width: 95%;
}

.hero-area .hero-article h3 {
  letter-spacing: 2px;
  padding: 10px 0;
}


/*CALL TO ACTION*/


.call-to-action {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.call-to-action h6, 
.call-to-action h4 {
  width: 100%;
}

.style-out-there,
.pinterest,
.podcast {
  margin: 20px 0;
  position: relative;
  width: 375px;
}

.styleCon, 
.pinCon, 
.podCon {
  box-sizing: border-box;
  color: rgb(255,255,255);
  height: 100%;
  padding: 10px 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  width: 80%;
}

.styleCon,
.podCon {
  left: 10%;
  text-align: right;
}

.pinCon {
  left: 10%;
  text-align: left;
}

.styleCon h4 {
  font-size: 1.2em;
  width: 100%;
}

.pinCon h4 {
  font-size: 1.5rem;
  padding-top: 10px;
}

.podCon h4 {
  font-size: 1.75rem;
  padding-top: 10px;
}

.slider-btns {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 100px;
  height: 120px;
  outline: none;
  transition: .2s; 
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  width: 100%; 
}

.slider-btns::-ms-track {
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.slider-btns::-ms-fill-lower {
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.slider-btns::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  margin: 0;
  width: 150px;
}

.slider-btns::-moz-range-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  margin: 0;
  width: 40%;
}

.slider-btns::-ms-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  margin: 0;
  width: 40%;
}

.style-out-there .btn-container {
  background-color: rgba(252,24,33,0.7);
  border-radius: 100px;
  height: 120px;
}

#styleInput.slider-btns::-webkit-slider-thumb {
  background-image: url('../img/subculture.jpeg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,24,33);
}

#styleInput.slider-btns::-moz-range-thumb {
  background-image: url('../img/subculture.jpeg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,24,33);
} 

#styleInput.slider-btns::-ms-thumb {
  background-image: url('../img/subculture.jpeg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,24,33);
}

.pinterest .btn-container {
  background-color: rgba(255,65,180,0.7);
  border-radius: 100px;
  height: 120px;
}

#pinterestInput.slider-btns::-webkit-slider-thumb {
  background-image: url('../img/pinterest2.png');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,65,180);
}

#pinterestInput.slider-btns::-moz-range-thumb {
  background-image: url('../img/pinterest2.png');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,65,180);
}

#pinterestInput.slider-btns::-ms-thumb {
  background-image: url('../img/pinterest2.png');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(252,65,180);
}

.podcast .btn-container {
  background-color: rgba(255,128,48,0.7);
  border-radius: 100px;
  height: 120px;
}

#podcastInput.slider-btns::-webkit-slider-thumb {
  background-image: url('../img/blog.jpg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(255,128,48);
}

#podcastInput.slider-btns::-moz-range-thumb {
  background-image: url('../img/blog.jpg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(255,128,48);
}

#podcastInput.slider-btns::-ms-thumb {
  background-image: url('../img/blog.jpg');
  background-position: center;
  background-size: cover;
  border: 15px solid rgb(255,128,48);
}


/*SECONDARY ARTICLES*/


.secondary-articles,
.trending-articles {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
}

.secondary-articles h6 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sec-art1,
.sec-art2,
.sec-art3 {
  background-color: #ffffff;
  height: 500px;
  width: 100%;
}

.sec-art1 {
  background: url('../img/sansa.png') center top no-repeat; 
  background-size: cover;
}

#triangle-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.triangle {
  border-top: 300px solid transparent;
  border-left: 300px solid transparent;
  border-right: 300px solid rgba(0,0,0,0.5);
  border-bottom: 300px solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  width: 100%;
}

#triangle-container .content {
  color: rgb(255,255,255);
  padding: 0 0 0 20px;
  position: relative;
  top: 50%;
  left: -10%;
  text-align: right;
  width: 100%;
}

#triangle-container .content h6 {
  justify-content: flex-end;
}

#triangle-container .content h6 span {
  padding-left: 50px;
}

#triangle-container .content h4 {
  padding: 30px 0 30px 50px;
}

#triangle-container .content h4 span {
  display: block;
}

.sec-art2 {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 60px;
}

.sec-art2 .content {
  background: url('../img/fish-nails.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
}

.sec-art2 h4 {
  padding: 50px 20px 0 20px;
}

.sec-art2 h6 {
  padding: 0 20px;
}

.sec-art2 .author {
  border-top: 3px solid #ff8030;
  border-bottom: 3px solid #ff41b4;
  width: 100%;
}

.sec-art3 {
  align-items: flex-start;
  background: url('../img/notre.jpg') center top no-repeat; 
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-top: 60px;
}

.sec-art3 .content {
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: rgb(255,255,255);
  padding: 20px;
  width: 100%;
}

.sec-art3 .content h4 {
  padding: 10px 0;
}


/*TRENDING*/


.trending {
  padding-top: 60px;
}

.trending h3 {
  padding: 0 0 0 20px;
}

.trending h6 {
  align-items: center;
  box-sizing: border-box;
  color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.trend-art1 {
  align-items: flex-start;
  background: url('../img/kaia.jpg') center top no-repeat; 
  background-size: cover;
  color: rgb(255,255,255);
  display: flex;
  height: 500px;
  flex-flow: column wrap;
  justify-content: space-between;
}

.trend-art1 h6 {
  background-color: rgb(252,24,33);
}

.trend-art1 h4 {
  padding: 50px 20px;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.trend-art2 h6 {
  background-color: rgb(255,65,180);
}

.trend-art3 h6 {
  background-color: rgb(255,128,48);
}

.trend-art2, 
.trend-art3 {
  margin: 20px 0;
}

.trend-art2 .content,
.trend-art3 .content {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
} 

.trend-art2 .content h5,
.trend-art3 .content h5 {
  padding: 0 20px 0 25px;
  width: 60%;
}

.art-img {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  width: 40%;
}

.art-img img {
  width: 100%
}


/*WATCH*/


.watch {
  align-items: center;
  background-color: rgba(0,0,0,1);
  display: flex;
  color: rgb(255,255,255);
  cursor: pointer;
  flex-flow: row wrap;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
}

.watch h2,
.og-vid h4 {
  letter-spacing: 1px;
  padding-left: 20px;
  width: 100%;
}

.originals {
  padding-top: 50px;
  width: 100%;
}

.originals h3 {
  color: rgb(255,65,180);
  padding: 0 0 50px 20px;
}

.originals .hide-scroll {
  height: 450px;
  overflow: hidden;
}

.vid-gal {
  height: 500px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.slideshow {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  margin: 0 -2400px 0 0;
  position: relative; 
}

.arrow-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 60px 0;
  width: 50%; 
}

.originals .arrow-container i {
    color: white;
  }

.og-vid {
  display: flex;
  flex-flow: column nowrap;
  height: 450px;
  justify-content: space-between;
  margin-right: 20px; 
  position: relative;
  width: 375px;
}

.og-vid p {
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0 0 20px;
  width: 100%;
}

.og-vid figure {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  width: 100%;
}

.og-vid figure iframe {
  position: absolute;
  left: 0;
  top: 0;
}

.trending-vids {
  padding: 60px 0;
  width: 100%;
}

.trending-vids h3 {
  color: rgb(32,215,2);
  padding: 0 0 100px 20px;
}

.trending-vids p {
  font-family: 'Playfair', serif;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  margin: 0 auto;
  text-transform: capitalize;
  width: 90%;
}

.trending-vids h6 {
  font-size: 0.5rem;
  padding-top: 10px;
}

.tv-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.tv {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.tv-container {
  align-items: flex-start;
  display: flex;
  justify-content: center; 
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.tv1, 
.tv2, 
.tv3, 
.tv4 {
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  display: flex;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.tv1,
.tv4 {
  padding-bottom: 45%;
  width: 45%;
}

.tv2,
.tv3 {
  padding-bottom: 90%;
  width: 90%;
}

.tv1 {
  border: 3px solid #20d702;
}

.tv2 {
  border: 3px solid #fc1821;
}

.tv3 {
  border: 3px solid #ff41b4;
}

.tv4 {
  border: 3px solid #ff8030;
}

.tv1-content,
.tv2-content,
.tv3-content,
.tv4-content {
  background-color: rgba(0,0,0,0.7);
  height: 50%;
  padding: 10px 0 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%; 
  z-index: 99;
}

@keyframes tvTopBottom {
  
  0% {   
    transform: scale(1);
  }

  40% {
    transform: scale(2);
  }

  100% {
    transform: scale(2);
  }
}

@-webkit-keyframes tvTopBottom {
  
  0% {  
    -webkit-transform: scale(1);
  }

  40% {  
    -webkit-transform: scale(2);
  }
  
  100% {
    -webkit-transform: scale(2);
  }
}

@-moz-keyframes tvTopBottom {
  
  0% {  
    -moz-transform: scale(1);
  }

  40% {  
    -moz-transform: scale(2);
  }
  
  100% {
    -moz-transform: scale(2);
  }
}

.tvTopBottom {
  animation: tvTopBottom 2.5s ease 2 alternate;
  -webkit-animation: tvTopBottom 2.5s ease 2 alternate;
  -moz-animation: tvTopBottom 2.5s ease 2 alternate;
  z-index: 100;
}

@keyframes tvLeft {
  
  0% {
    transform: translateX(0%) scale(1);
  }

  40% {
    transform: translateX(55%) scale(2);
  }

  100% {
    transform: translateX(55%) scale(2);
  }
}

@-webkit-keyframes tvLeft {
  
  0% {
    -webkit-transform: translateX(0%) scale(1);
  }

  40% {
    -webkit-transform: translateX(55%) scale(2);
  }

  100% {
    -webkit-transform: translateX(55%) scale(2);
  }
}

@-moz-keyframes tvLeft {
  
  0% {
    -moz-transform: translateX(0%) scale(1);
  }

  40% {
    -moz-transform: translateX(55%) scale(2);
  }

  100% {
    -moz-transform: translateX(55%) scale(2);
  }
}

.tvLeft {
  animation: tvLeft 2.5s ease 2 alternate;
  -webkit-animation: tvLeft 2.5s ease 2 alternate;
  -moz-animation: tvLeft 2.5s ease 2 alternate;
  z-index: 100;
}

@keyframes tvRight {
  
  0% {
    transform: translateX(0%) scale(1);
  }

  40% {
    transform: translateX(-55%) scale(2);
  }

  100% {
    transform: translateX(-55%) scale(2);
    
  }
}

@-webkit-keyframes tvRight {
  
  0% {
    -webkit-transform: translateX(0%) scale(1);
  }

  40% {
    -webkit-transform: translateX(-55%) scale(2);
  }

  100% {
    -webkit-transform: translateX(-55%) scale(2);  
  }
}

@-moz-keyframes tvRight {
  
  0% {
    -moz-transform: translateX(0%) scale(1);
  }

  40% {
    -moz-transform: translateX(-55%) scale(2);
  }

  100% {
    -moz-transform: translateX(-55%) scale(2);  
  }
}

.tvRight {
  animation: tvRight 2.5s ease 2 alternate;
  -webkit-animation: tvRight 2.5s ease 2 alternate;
  -moz-animation: tvRight 2.5s ease 2 alternate;
  z-index: 100;
}

.trending-vids figure .tv-frame {
  border-radius: 50%;
  filter: brightness(60%);
  position: absolute;
  top: -5%;
  left: -5%;
  -webkit-border-radius: 50%; 
}

.trending-vids figure .tv-frame.bright {
  filter: brightness(100%);
  z-index: -1;
}

.selected {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  z-index: 9;
}

.selectedLeft {
  transform: translateX(55%) scale(2);
  -webkit-transform: translateX(55%) scale(2);
  -moz-transform: translateX(55%) scale(2);
  z-index: 9;
}

.selectedRight {
  transform: translateX(-55%) scale(2);
  -webkit-transform: translateX(-55%) scale(2);
  -moz-transform: translateX(-55%) scale(2);
  z-index: 9;
}


/*SHOPPING*/


.shopping,
.collections,
.presented {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
}

.shopping h2 {
  color: rgb(255,128,48);
  padding-left: 20px;
  width: 100%;
}

.shopping .ft-art {
  color: rgb(255,255,255);
  height: 450px;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.shopping .ft-art h6 {
  padding: 20px 0 0 20px;
}

.shopping .ft-art h4 {
  padding: 250px 0 0 20px;
}

.shopping p {
	font-size: 0.75rem;
}

.collections .ft-art {
  background: url('../img/wedding.png') center top no-repeat; 
  background-size: cover;
}

.presented .ft-art {
  background: url('../img/target.png') center top no-repeat; 
  background-size: cover;
}

.more-collection,
.more-presented {
  align-items: flex-start;
  color: rgb(252,24,33);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 20px 10px 20px;
}

.more-collection h4,
.more-presented h4 {
  padding-bottom: 50px;
  width: 100%;
}

.shop-opt {
  padding-bottom: 30px;
  width: 160px;
}

.shop-opt-img {
  align-items: center;
  display: flex;
	height: 150px;
	margin: 0;
  overflow: hidden;
	width: 100%;
}

.shop-opt-img img {
  min-height: 100%;
  width: 100%;
}

.shop-opt p {
  font-weight: 600;
}

.more {
  color: rgb(0,0,0);
  display: block;
  font-weight: 600;
  padding-right: 20px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.shopping .more i {
  font-size: 0.75rem;
}

.presented .ft-art h4 {
  background-color: rgba(255,128,48, 0.5);
  padding: 20px;
  margin: 250px 10px 0px 10px;
}

.more-presented {
  color: rgb(255,128,48);
}

.more-presented .shop-opt-img {
  position: relative;
}

.more-presented .subtitle {
  color: rgb(255,255,255);
  font-size: 0.75rem;
  position: absolute;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  top: 4px;
  left: 4px;
}


/*NOW ON R29*/


.now {
  width: 100%;
}

.now h3 {
  padding: 60px 20px;
}

.collapsible {
  cursor: pointer;
}

.lifestyle .col-content,
.workmoney .col-content {
  display: none;
}

.now-ft-art {
  background-color: #ffffff;
  height: auto;
  margin: 50px 0 0 0;
}

.now-ft-art figure {
  height: 60%;
  margin: 0;
  width: 100%;
}

.now-ft-art .content {
  padding: 40px 20px 70px 20px;
}

.now-ft-art .content h4 {
  padding-bottom: 40px;
}

.now-ft-art .author {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.beauty-title {
  background-color: rgb(252,24,33);
  color: rgb(255,255,255);
  padding-left: 20px;
}

.news-title {
  background-color: rgb(255,65,180);
  color: rgb(255,255,255);
  padding-left: 20px;
}

.fashion-title {
  background-color: rgb(255,128,48);
  color: rgb(255,255,255);
  padding-left: 20px;
}

.lifestyle-title {
  background-color: rgb(12,0,255);
  color: rgb(255,255,255);
  padding-left: 20px;
}

.work-title {
  background-color: rgb(32,215,2);
  color: rgb(255,255,255);
  padding-left: 20px;
}

.now-hr {
  margin: 0 auto;
  padding-bottom: 75px;
  width: 50%;
}

.hide-scroll {
  height: 150px;
  overflow: hidden;
}

.more-art {
  height: 170px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.now .sec-art {
  align-items: flex-start;
  display: flex;
  height: 130px;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 30px;
  width: 375px;
}

.now .art-img {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  width: 50%;
}

.now .art-img img {
  min-height: 100%;
  width: 100%;
}

.now .sec-art .content {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: flex-start;
  padding-left: 20px;
  width: 50%;
}

.now .sec-art .content h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.now .sec-art .content p {
  font-size: 0.6875rem;
  margin: 0;
  vertical-align: bottom;
}


/*MISSION*/


.mission {
  background-color: rgba(252,24,33, 0.8);
  color: rgb(255,255,255);
  margin-top: 50px;
  padding: 60px 40px;
}

.mission h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mission p {
  font-family: 'Playfair', serif;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 45px 0;
  text-transform: none;
}


/*FINAL CTA*/


.final-cta {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.discover-cta,
.watch-cta,
.shop-cta {
  margin: 20px 0;
  position: relative;
  width: 375px;
}

.discoverCon,
.watchCon,
.shopCon {
  align-items: center; 
  color: rgb(255,255,255);
  display: flex;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.discoverCon,
.shopCon {
  justify-content: flex-start;
}

.discoverCon h1,
.shopCon h1 {
  padding-left: 20px;
}

.watchCon {
  justify-content: flex-end;
}

.watchCon h1 {
  padding-right: 20px;
}

.discover-cta .btn-container {
  background-image: url('../img/discover.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  height: 120px;
  position: relative;
}

.discover-cta .btn-container::before {
  background-color: rgba(252,24,33,0.3);
  border-radius: 100px;
  content: '';
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#discover-btn::-webkit-slider-thumb {
  background-image: url('../img/discover-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#discover-btn::-moz-range-thumb {
  background-image: url('../img/discover-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#discover-btn::-ms-thumb {
  background-image: url('../img/discover-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

.watch-cta .btn-container {
  background-image: url('../img/watch.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  height: 120px;
  position: relative;
}

.watch-cta .btn-container::before {
  background-color: rgba(255,65,180,0.3);
  border-radius: 100px;
  content: '';
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#watch-btn::-webkit-slider-thumb {
  background-image: url('../img/watch-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#watch-btn::-moz-range-thumb {
  background-image: url('../img/watch-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#watch-btn::-ms-thumb {
  background-image: url('../img/watch-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

.shop-cta .btn-container {
  background-image: url('../img/pinterest.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  height: 120px;
  position: relative;
}

.shop-cta .btn-container::before {
  background-color: rgba(255,128,48,0.3);
  border-radius: 100px;
  content: '';
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#shop-btn::-webkit-slider-thumb {
  background-image: url('../img/shop-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#shop-btn::-moz-range-thumb {
  background-image: url('../img/shop-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}

#shop-btn::-ms-thumb {
  background-image: url('../img/shop-cta.png');
  background-size: cover;
  background-position: center;
  outline: none;
}


/*FOOTER*/


footer {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
  padding-top: 60px;
	width: 100%;
}

.newsletter {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.newsletter h4,
.company h4, 
.info h4, 
.editions h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 100%;
}

.newsletter-hr {
  border-top: 1px solid rgb(252,24,33);
  margin: 30px 0;
  width: 50%
}

.email-form {
  height: 55px;
  margin: 30px 0;
  position: relative;
  width: 85%;
}

.email-form input[type = 'email'] {
  border: 2px solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: rgb(255,128,48);
  height: 100%;
  padding-left: 20px;
  text-transform: uppercase;
  width: 100%;
}

.email-form input[type = 'submit'] {
  background-color: rgb(255,65,180);
  border: none;
  box-shadow: 1px 2px rgba(0,0,0,0.3);
  color: rgb(255,255,255);
  height: 40px;
  position: absolute;
  top: 7px;
  left: 75%;
  text-transform: uppercase;
}

.social-media {
	width: 70%;
}

.social-media ul {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.contact {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px 0;
}

.contact-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.company {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
}

.info,
.editions {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 50%;
}

.company ul,
.info ul,
.editions ul {
  line-height: 2;
  width: 100%;
}

.company hr {
  margin: 30px 0;
  width: 15%;
}

.info hr,
.editions hr {
  margin: 30px 0;
  width: 30%;
}

.company hr {
  border-top: 1px solid rgb(255,128,48);
}

.info hr {
  border-top: 1px solid rgb(12,0,255);
}

.editions hr {
  border-top: 1px solid rgb(32,215,2);
}

.company ul li a,
.info ul li a,
.editions ul li a {
  color: rgb(0,0,0);
  text-decoration: none;
  text-transform: capitalize;
}

footer figure {
	margin: 0;
	width: 100px;
}

.copyright {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 85%;
}

.copyright i {
	font-size: 0.75rem;
}





 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  @media only screen and (min-width: 650px) {


    /*HEADER*/


    #logo {
      padding-left: 35px;
      width: 150px
    }

    #search-box {
      left: 50px;
      top: 50%;
      width: 50%;
    }

    #search i {
      font-size: 0.875rem;
    }

    #date {
      font-size: 0.875rem;
      left: 35px;
      top: 85%;
    }

    .headerScroll {
      height: 60px;
    }

	  .searchScroll {
	    transform: translateX(350px) translateY(-50%);
      -webkit-transform: translateX(350px) translateY(-50%);
	  }

    header .main-nav {
      width: 25%;
    }


    /*HERO AREA*/


    .hero-area {
      height: 550px;
      transform: translateY(-125px);
      -webkit-transform: translateY(-125px);
    }

    .hero-area h3 {
      font-size: 2rem;
      padding-top: 140px;
    }

    .hero-area h1 {
      font-size: 3.5rem;
      padding-bottom: 60px;
    }


    /*CALL TO ACTION*/


    .call-to-action {
      padding: 0;
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
    }

    .slider-btns::-webkit-slider-thumb {
      height: 145px;
      width: 145px;
    }

    .slider-btns::-moz-range-thumb {
      height: 150px;
    }

    .slider-btns::-ms-thumb {
      height: 150px;
    }


    /*SECONDARY ARTICLES*/


    .sec-art1 {
      overflow: hidden;
    }

    .triangle {
      border-top: 400px solid transparent;
      border-left: 400px solid transparent;
      border-right: 400px solid rgba(0,0,0,0.5);
      border-bottom: 400px solid rgba(0,0,0,0.5);
      top: 0;
      left: 0;
    }

    #triangle-container .content {
      top: 40%;
      left: 3%;
      width: 90%;
    }

    .sec-art1 h4,
    .sec-art2 h4,
    .sec-art3 h4 {
      font-size: 1.875rem;
    }

    .sec-art2 h6 {
      padding: 0 40px;
    }

    .sec-art2 h4 {
      padding: 50px 40px 230px 40px;
    }

    .sec-art3 .content {
      padding: 20px 40px;
    }


    /*TRENDING*/


    .trending h3 {
      padding-left: 40px;
    }

    .trending h6 {
      padding-left: 40px;
    }

    .trend-art1 {
      height: 550px;
    }

    .trend-art1 h4 {
      font-size: 1.875rem;
      padding: 50px 40px;
    }

    .trend-art2 h5, 
    .trend-art3 h5 {
      font-size: 1.75rem;
      padding: 0 40px;
    }

    .art-img {
      align-items: flex-start;
    }


    /*WATCH*/


    .watch h2,
    .watch h3 {
      padding-left: 40px;
    } 

    #og1 {
      margin-left: 40px;
    }  

    .trending-vids {
      padding: 0 0 50px 0;
    }

    .tv1,
    .tv4 {
      padding-bottom: 25%;
      width: 25%
    }

    .tv2,
    .tv3 {
      padding-bottom: 50%;
      width: 50%
    }

    .tv1-content h6, 
    .tv2-content h6, 
    .tv3-content h6, 
    .tv4-content h6 {
      font-size: 0.3rem;
      padding-top: 5px;
    }


    /*SHOPPING*/


    .shopping h2 {
      padding: 0  40px;
    }

    .shopping .ft-art h6 {
      padding: 20px 40px;
    }

    .shopping .ft-art h4 {
      padding: 250px 40px 0 40px;
    }

    .more-collection,
    .more-presented {
      padding: 60px 40px 10px 40px; 
    }

    .shop-opt {
      width: 230px;
    }

    .shop-opt-img {
      height: 200px;
    }

    .more {
      padding-right: 40px;
    }

    .presented .ft-art h4 {
      margin: 200px 10px 0 10px;
      padding: 30px;
    }


    /*NOW ON R29*/


    .now h3 {
      padding: 60px 40px 60px 40px;
    }

    .now-hr {
      margin-top: 75px;
    }

    .now-ft-art {
      align-items: center;
      display: flex;
      justify-content: center;
      padding-left: 40px;
      overflow: hidden;
    }

    .now-ft-art figure {
      align-items: flex-start;
      display: flex;
      height: 100%;
      width: 50%;
    }

    .now-ft-art .content {
      padding: 0 40px;
      width: 50%;
    }

    .now-ft-art .content h4 {
      padding-bottom: 60px;
    }

    .now .collapsible {
      padding-left: 40px;
    }


    /*FINAL CTA*/


    .final-cta {
      padding-top: 60px;
    }


    /*FOOTER*/


    footer {
      padding-top: 60px;
    }

    .email-form input[type = 'submit'] {
      left: 85%;
    }

  }


  @media only screen and (min-width: 768px) {


    /*HEADER*/



    #logo {
      padding-left: 35px;
      width: 175px;
    }

    #search-box {
    	top: 50%;
      width: 45%;
    }

    i {
      font-size: 1.5rem;
    }

    #search i {
      font-size: 1.125rem;
    }
    
    #date {
      font-size: 1rem;
    	top: 90%;
    }

    .searchScroll {
	    transform: translateX(425px) translateY(-50%);
      -webkit-transform: translateX(425px) translateY(-50%);
      -moz-transform: translateX(425px) translateY(-50%);
	  }

    header .main-nav {
      width: 20%;
    }


    /*HERO AREA*/


    .hero-area {
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
    }

    .hero-area h1 {
      padding-bottom: 13%;
    }


    /*CALL TO ACTION*/


    .call-to-action {
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
    }

    .call-to-action,
    .final-cta {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      padding: 20px 0;
    }

    .style-out-there, 
    .pinterest,
    .podcast {
      margin: 0;
      width: 300px;
    }

    .call-to-action h6 {
      font-size: 0.5rem;
    }

    .styleCon,
    .podCon {
      left: 10%;
      padding: 5px 0px;
    }

    .pinCon {
      left: 10%;
      padding: 5px 0;
    }

    .styleCon h4 {
      font-size: 0.875rem;
      padding-top: 2px;
    }

    .pinCon h4 {
      font-size: 1.125rem;
      padding-top: 5px;
    }

    .podCon h4 {
      font-size: 1.3rem;
      padding-top: 10px;
    }

    .style-out-there .btn-container, 
    .pinterest .btn-container, 
    .podcast .btn-container {
      height: 80px;
      width: 100%;
    }

    .slider-btns {
      height: 100%;
      width: 100%;
    }

    .slider-btns::-webkit-slider-thumb {
      height: 100px;
      width: 100px;
    }

    .slider-btns::-moz-range-thumb {
      height: 190px;
    }

    .call-to-action .slider-btns::-ms-thumb {
      height: 125px;
      width: 125px;
    }    

    #styleInput.slider-btns::-webkit-slider-thumb {
      border: 10px solid rgb(252,24,33);
    }

    #styleInput.slider-btns::-moz-range-thumb {
      border: 10px solid rgb(252,24,33);
    } 

    #styleInput.slider-btns::-ms-thumb {
      border: 10px solid rgb(252,24,33);
    }

    #pinterestInput.slider-btns::-webkit-slider-thumb {
      border: 10px solid rgb(252,65,180);
    }

    #pinterestInput.slider-btns::-moz-range-thumb {
      border: 10px solid rgb(252,65,180);
    }

    #pinterestInput.slider-btns::-ms-thumb {
      border: 10px solid rgb(252,65,180);
    }

    #podcastInput.slider-btns::-webkit-slider-thumb {
      border: 10px solid rgb(255,128,48);
    }

    #podcastInput.slider-btns::-moz-range-thumb {
      border: 10px solid rgb(255,128,48);
    }

    #podcastInput.slider-btns::-ms-thumb {
      border: 10px solid rgb(255,128,48);
    }


    /*SECONDARY ARTICLES & TRENDING*/


    .secondary-articles {
      width: 90%;
    }

    .secondary-articles,
    .trending-articles {
      flex-flow: row nowrap;
      justify-content: space-around;
    }

    .trending {
      width: 90%;
    }

    .trending h3 {
      padding: 0;
    }

    .trending-articles {
      padding-bottom: 60px;
    }

    .sec-art1,
    .trend-art1 {
      height: 450px;
      width: 50%;
    }

    .triangle {
      top: -20%;
      left: -60%;
    }

    #triangle-container .content {
      top: 35%;
      left: 0%;
      width: 90%;
    }

    .sec-art-container,
    .trend-art-container {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      height: 450px;
      width: 45%;
    }

    .sec-art2, 
    .sec-art3 {
      height: 220px;
      padding-top: 0px;
      width: 100%;
    } 

    .sec-art3 {
      margin-top: 0;
    }

    .sec-art2 .content {
      background-size: contain;
    }

    .sec-art1 h4 {
      font-size: 1.5rem;
    }

    .sec-art2 h6,
    .sec-art3 h6 {
      font-size: 0.75rem;
      padding-top: 0;
    }

    .sec-art2 h4 {
      padding: 20px 40px 40px 40px;
    }

    .sec-art2 h4,
    .sec-art3 h4 {
      font-size: 1.25rem;
    }

    .trend-art2 {
      margin: 0;
    }

    .trend-art3 {
      margin: 0;
      vertical-align: bottom;
    }

    .trend-art2 .content,
    .trend-art3 .content {
      height: 180px;
    }

    .art-img {
      align-items: center;
    }

    .trend-art1 h4 {
      font-size: 1.5rem;
    }

    .trend-art2 h5,
    .trend-art3 h5 {
      font-size: 1.25rem;
    }


    /*WATCH*/


    .watch h2 {
      padding-left: 6%;
    }

    .originals,
    .trending-vids {
      width: 90%;
    }


    /*SHOPPING*/


    .shopping {
      width: 90%;
    }

    .shopping h2 {
      padding: 0;
    }

    .shopping .ft-art {
      height: 400px;
    }

    .shop-opt {
      width: 125px;
    }

    .shop-opt-img {
      height: 125px;
    }

    .presented .ft-art h4 {
      margin: 200px auto;
      width: 80%;
    }


    /*MISSION*/


    .mission {
      padding: 60px;
    }

    .mission p {
      font-size: 2rem;
      letter-spacing: 2px;
      padding: 40px 0 0 0;
    }


    /*FINAL CTA*/


    .final-cta {
      padding: 60px 0 0 0;
    }

    .discover-cta,
    .watch-cta,
    .shop-cta {
      margin: 0;
      width: 300px;
    }

    .discover-cta .btn-container,
    .watch-cta .btn-container,
    .shop-cta .btn-container {
      height: 80px;
      width: 100%;
    }

    .discoverCon h1,
    .watchCon h1,
    .shopCon h1 {
      font-size: 3rem;
    }

    .discoverCon h1,
    .shopCon h1 {
      padding-left: 20px;
    }

    .watchCon h1 {
      padding-right: 20px;  
    }

    .final-cta .slider-btns::-ms-thumb {
      height: 150px;
      width: 150px;
    }


    /*FOOTER*/


    footer {
      padding-top: 60px;
    }

    .social-media {
      padding: 20px 0;
    }

    .contact {
      align-items: flex-start;
      width: 100%;
    }

    .company {
      width: 30%;
    }

    .company hr {
      width: 30%;
    }

    .contact-container {
      align-items: flex-start;
      padding-top: 0;
      width: 60%;
    }

  }


  @media only screen and (min-width: 1200px) {


    /*HEADER*/


    #logo {
      padding-left: 60px;
      width: 150px;
    }

    header .main-nav {
      padding-top: 10px;
      width: 15%;
    }

    #search-box {
      top: 12%;
      left: 35%;
      width: 30%;
    }

    #search-box i {
      font-size: 1rem;
    }

    #search-input {
      display: block;
      margin: 0 0 0 20px;
      width: 80%;
    }

    #date {
      top: 75%;
      left: 17%;
    }

    .headerScroll {
    	height: 40px;
    }

    .searchScroll {
	    transform: translateX(505px) translateY(30%);
      -webkit-transform: translateX(505px) translateY(30%);
      -moz-transform: translateX(505px) translateY(30%);
	  }

    header .main-nav {
      padding-top: 0;
    }

    @keyframes logoShrink {
      
      0% {
        opacity: 0;
        padding: 0;
        transform: translateY(-25%) scale(1);
      }
      
      100% {
        opacity: 1;
        padding: 0;
        transform: translateY(-25%) scale(0.8);
      }
    }

    @-webkit-keyframes logoShrink {
      
      0% {
        opacity: 0;
        padding: 0;
        -webkit-transform: translateY(-25%) scale(1);
      }
      
      100% {
        opacity: 1;
        padding: 0;
        -webkit-transform: translateY(-25%) scale(0.8);
      }
    }

    @-moz-keyframes logoShrink {
      
      0% {
        opacity: 0;
        padding: 0;
        -moz-transform: translateY(-25%) scale(1);
      }
      
      100% {
        opacity: 1;
        padding: 0;
        -moz-transform: translateY(-25%) scale(0.8);
      }
    }


    /*HERO AREA*/


    .hero-area {
      background-repeat: no-repeat;
      height: 700px;
      transform: translateY(-150px);
      -webkit-transform: translateY(-150px);
      -moz-transform: translateY(-150px);
      width: 90%;
    }

    .hero-area .wrapper {
      padding-top: 70px;
      width: 74%;
    }

    .hero-area h3 {
      font-size: 2.125rem;
      padding: 15% 0 2% 0;
    }

    .hero-area h1 {
      font-size: 5.5rem;
      padding-bottom: 7%;
    }

    .hero-area .hero-article {
      padding: 20px 40px;
      width: 90%;
    }

    .hero-area .hero-article h3 {
      font-size: 2rem;
      padding: 40px 0;
    }


    /*CALL TO ACTION*/


    .call-to-action {
      justify-content: space-between;
      padding: 0;
      width: 90%;
    }

    .style-out-there,
    .pinterest,
    .podcast {
      width: 350px;
    }

    .styleCon,
    .podCon,
    .pinCon {
      left: 30px;
      width: 80%;
    }

    .styleCon h6, 
    .podCon h6, 
    .pinCon h6 {
      font-size: 0.75rem;
    }

    .styleCon h4 {
      font-size: 1.125rem;
    }

    .pinCon h4 {
      font-size: 1.25rem;
    }

    .podCon h4 {
      font-size: 1.5rem;
    }

    .style-out-there .btn-container, 
    .pinterest .btn-container, 
    .podcast .btn-container {
      height: 100px;
      width: 100%;  
    }

    .slider-btns {
      height: 100px;
    }

    .slider-btns::-webkit-slider-thumb {
      height: 120px;
      width: 120px;
    }

    .slider-btns::-moz-range-thumb {
      height: 150px;
      width: 150px;
    }

    .call-to-action .slider-btns::-ms-thumb {
      height: 90px;
      width: 90px;
    }    

    .final-cta .slider-btns::-ms-thumb {
      height: 120px;
      width: 120px;
    }


    /*SECONDARY ARTICLES*/


    .secondary-articles {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
    }

    .triangle {
      left: -30%;
    }

    .sec-art1 {
      width: 40%;
    }

    .sec-art-container {
      flex-flow: row nowrap;
      width: 55%;
    }

    .sec-art2,
    .sec-art3 {
      height: 100%; 
      width: 46%;
    }

    .sec-art2 .content {
      background-size: cover;
    }

    .sec-art2 h6 {
      padding: 0;
    }

    .sec-art2 h4 {
      padding: 40px 10px;
    }

    .sec-art3 .content {
      padding: 40px 10px;
    }


    /*TRENDING*/


    .trending h3 {
      padding: 0;
    }

    .trending-articles {
      justify-content: space-between;
    }

    .trend-art1,
    .trend-art-container {
      height: 495px;
    }

    .trend-art2 .content,
    .trend-art3 .content {
      height: 200px;
    }

    .art-img {
      align-items: flex-start;
    }


    /*WATCH*/


    .watch {
      padding: 90px 0 0 0;
    }

    .watch h2 {
      padding-left: 5%;
    }

    .watch h3 {
      padding-left: 0px;
    }

    .originals {
      padding: 0;
    }

    .originals h3 {
      padding-top: 60px;
    }

    .trending-vids h3 {
      padding-bottom: 70px;
    }

    .trending-vids p {
      font-size: 0.9rem;
    }

    .tv {
      width: 25%;
    }

    .tv1-content,
    .tv2-content,
    .tv3-content,
    .tv4-content {
      height: 55%;
      top: 90px;
    }

    .tv1-content h6,
    .tv2-content h6,
    .tv3-content h6,
    .tv4-content h6 {
      font-size: 0.5rem;
    }

    .trending-vids-container {
      align-items: flex-start;
      height: 300px;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 50px auto;
      width: 90%;
    }

    .tv-wrapper {
      justify-content: space-around;
      margin-top: 0;
      width: 100%;
    }

    .tv-wrapper .tv {
      width: 30%;
    }

    .tv1, 
    .tv4 {
      padding-bottom: 55%;
      width: 55%;
    }

    .tv-container {
      width: 40%;
    }

    .tv2,
    .tv3 {
      padding-bottom: 135%;
      width: 135%;
    }

    .tv2 {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
    }

    .tv3 {
      transform: translateX(15%);
      -webkit-transform: translateX(15%);
      -moz-transform: translateX(15%);
    }

    @keyframes tvTopBottom {
  
      0% {   
        transform: scale(1);
      }

      40% {
        transform: scale(1.3);
      }

      100% {
        transform: scale(1.3);
      }
    }

    @-webkit-keyframes tvTopBottom {
      
      0% {  
        -webkit-transform: scale(1);
      }

      40% {  
        -webkit-transform: scale(1.3);
      }
      
      100% {
        -webkit-transform: scale(1.3);
      }
    }

    @-moz-keyframes tvTopBottom {
      
      0% {  
        -moz-transform: scale(1);
      }

      40% {  
        -moz-transform: scale(1.3);
      }
      
      100% {
        -moz-transform: scale(1.3);
      }
    }

    @keyframes tvLeft {
  
      0% {
        transform: translateX(-50%) scale(1);
      }

      40% {
        transform: translateX(-50%) scale(1.3);
      }

      100% {
        transform: translateX(-50%) scale(1.3);
      }
    }

    @-webkit-keyframes tvLeft {
      
      0% {
        -webkit-transform: translateX(-50%) scale(1);
      }

      40% {
        -webkit-transform: translateX(-50%) scale(1.3);
      }

      100% {
        -webkit-transform: translateX(-50%) scale(1.3);
      }
    }

    @-moz-keyframes tvLeft {
      
      0% {
        -moz-transform: translateX(-50%) scale(1);
      }

      40% {
        -moz-transform: translateX(-50%) scale(1.3);
      }

      100% {
        -moz-transform: translateX(-50%) scale(1.3);
      }
    }

    @keyframes tvRight {
      
      0% {
        transform: translateX(15%) scale(1);
      }

      40% {
        transform: translateX(15%) scale(1.3);
      }

      100% {
        transform: translateX(15%) scale(1.3);
        
      }
    }

    @-webkit-keyframes tvRight {
      
      0% {
        -webkit-transform: translateX(15%) scale(1);
      }

      40% {
        -webkit-transform: translateX(15%) scale(1.3);
      }

      100% {
        -webkit-transform: translateX(15%) scale(1.3);  
      }
    }

    @-moz-keyframes tvRight {
      
      0% {
        -moz-transform: translateX(15%) scale(1);
      }

      40% {
        -moz-transform: translateX(15%) scale(1.3);
      }

      100% {
        -moz-transform: translateX(15%) scale(1.3);  
      }
    }


    /*SHOPPING*/


    .shopping .ft-art {
      height: 400px;
      width: 60%;
    }

    .shop-opt {
      width: 150px;
    }

    .shop-opt-img {
      height: 150px;
    }

    .more-collection,
    .more-presented {
      width: 100%;
    }


    /*NOW ON R29*/


    .now {
      width: 90%;
    }

    .now h3 {
      padding-left: 0;
    }

    .now .collapsible {
      padding-left: 60px;
    }

    .now-ft-art {
      justify-content: space-around;
      margin: 50px auto;
      padding: 20px 0;
      width: 75%;
    }

    .now-ft-art figure {
      width: 40%;
    }

    .now-ft-art .content {
      width: 40%;
    }

    .now-hr {
      width: 20%;
    }

    .now .sec-art {
      height: 150px;
    }

    .art-img img {
      width: auto;
    }


    /*MISSION*/


    .mission {
      padding: 60px 140px;
    }

    .mission p {
      font-size: 2.5rem;
      line-height: 2;
    }


    /*FINAL CTA*/


    .final-cta {
      justify-content: space-between;
      padding: 60px 0;
      width: 90%;
    }

    .discover-cta,
    .watch-cta,
    .shop-cta {
      width: 350px;
    }

    .discover-cta .btn-container,
    .watch-cta .btn-container,
    .shop-cta .btn-container {
    	height: 100px;
    }


    /*FOOTER*/


    footer {
      padding-top: 60px;
    }

    .social-media {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 60px 0;
    }

    .social-media ul {
      width: 60%;
    }

    .social-media i {
      font-size: 1rem;
    }

    .contact {
      align-items: flex-start;
      display: flex;
      width: 100%;
    }

    .company {
      width: 30%;
    }

    .company hr {
      width: 20%;
    }

    .contact-container {
      padding: 0;
      width: 60%;
    }

    .info hr,
    .editions hr {
      width: 20%;
    }
  }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


